@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-family: 'Roboto';
}
li{
    
}
.card{
    
    display:block;
    position:relative;
    width:600px;
    min-height: 200px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
    background-color:#e1f9fe;
    word-wrap: break-word;
    border-radius:10px;
}

.card button{
    
    position: relative;
    left:70%;
    top:50%;
    
}
p{  position:relative;
    
    right:1%;
    left:1.6%;
}
span{
    display:inline-block;
    margin:1em;
    font-weight:bolder;
    
    position:relative;
    right:20%;
}
.card .editC{
    background-color:#cbe3e9;
}
button{
    background:#00000000;
    border-radius: 15px;
    margin-right:1em;
    
}
#tmLineHeader{
    text-align:center;
    font-size:xx-large;
    
}
.container{
    display:flex;
    position:relative;
    left:40%;
    margin-bottom:1em;
    
}

.container button{
    position:relative;
    margin-right:1em;
    left:5%;
    background-color:#ff3535;
    color:white;
}
.delete{
    background-color:#ff3535;
    color:white;
    padding:2px;
}
button:hover{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
.menu-enviar{
    display:block;
    position:relative;
    width:600px;
    min-height: 200px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
    background-color:#e1f9fe;
    word-wrap: break-word;
    border-radius:10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}
#userName{
    position:relative;
    left:6%;
}
.send{
    position:relative;
    left:40%;
    font-size:24px;
    
}

#edit-mode-userName{
    position:relative;
    left:6.5%;
}

.cabecalho{
    background-color:#283d3a;
    margin-bottom:3em;
}

.logo{
    position:relative;
    left:40%;
}

#tmLineHeader{
    text-decoration: underline;
    
}